.treasure-brick
	display inline-block
	width 30px
	height 30px
	background-color #996633
	text-align center
	border 1px solid black
	cursor pointer

.treasure-brick.explored
	background-color #FFFFFF
	
.treasure-brick.diamond
	color #000000
	
.treasure-brick.ruby
	color #FF0000
	
.treasure-brick.emerald
	color #00FF00
	
.treasure-brick.sapphire
	color #0000FF
	
.treasure-brick.gold
	color #BBBB00
	
.treasure-brick.silver
	color #999999
	
.treasure-brick.wall
	background-color #666666

.treasure-brick.empty
	color #FFFFFF
	
