#divBoard
	position relative

.tile
	height 49px
	width 49px
	text-align center

tile, .player
	position absolute
	
.tile-move-again
	background-color: #66FF66

.tile-start
	background-color: #00CC00
	
.tile-normal
	background-color: #FFFF00
	
.tile-finish
	background-color: #99FFFF
	
.player
	z-index 1

.dice-container
	margin-bottom 2px
	
.dice-total, .current-player-header, .choice-required
	display inline-block
	margin-left 5px
	
.die
	margin 1px
	display inline-block
	border 1px solid black
	width 20px
	height 20px
	text-align center
	vertical-align middle
	cursor pointer