.choice-column
	width 80px
	
.robot-display
	margin 10px
	
.pane-left, .pane-right, .choice-column
	display inline-block

.pane-right
	margin-left 50px
	vertical-align top

.pane-results
	margin-top 10px